.window {
	margin-top: 20px;
}
.window>.title {
	text-align: center;
}
.window>form {
	margin-top: 10px;
	text-align: center;
}
.window>form>input, .window>form>textarea {
	margin-top: 10px;
	width: 40%;
}
.window>form>textarea {
	height: 100px
}