li {
    list-style-type: none; /* Убираем маркеры */
   }
ul {
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
	padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
header {
	border-bottom: 2px black solid;
}
header>ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}