.user {
	text-align: center;
}
.user>span {
	border-bottom: 2px black solid;
}
.posts {
	margin-top: 20px;
}
.post {
	margin-top: 20px;
	padding: 10px;
	border: 2px black solid;
}
.post>.title {
	display: flex;
	justify-content: space-between;
}
.post>.title>span {
	border-bottom: 2px black solid;
}
.post>.body {
	margin-top: 10px;
}
.add-post {
	display: flex;
	justify-content: center;
}