{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/user_posts.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="user">
		<span class="display-4 ">Посты пользователя {{ post_user.name }}</span>
	</div>
	
	<ul class="posts">
		{% for post in user_posts %}
		<li class="post">
			<div class="title">
				<span>{{ post.title }}</span>
				<!-- <form action="delete_post"></form> -->
			</div>
			<div class="body">{{ post.body }}</div>
		</li>
		{% endfor %}
		{% if auth_user and auth_user.pk == post_user.pk %}
		<li class="add-post">
			<form action="{% url 'add_post' %}" method="GET">
				<input type="submit" value="Добавить Пост">
			</form>
		</li>
		{% endif %}
	</ul>
</div>
{% endblock %}